---
layout: default
---

<section>
	<div class="main__wrapper">
		<div>
			<p>
				This project is a place where I can host my favorite resources for both personal and professional use.
			</p>
			{% for category in site.categories %}
				<h2 class="with__lead">{{category | first | capitalize }}</h2>
				<ul class="list">
					{% for posts in category %}
						{% for post in posts %}
							{% if post.url %}
								<li>
									<a href="{{post.url | prepend: site.baseurl }}"  class="list__item">
										{{ post.title }}
										<span>&#8594;</span>
									</a>
								</li>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</ul>
			{% endfor %}
		</div>
	</div>
</section>
