
// Typography // -------------------------------
$font-family-primary: 'Work Sans', sans-serif;
$font-family-secondary: 'Copse', serif;

// $font-family-action: $font-family-secondary;
// Global Font Styling
$font-size-base: 18px;
// $font-size-small: $font-size-base * 0.6818 !default;
$line-height-base: 1.4;

// Brand
$font-color-base: #343434;
$brand-color-primary: #ffeb3b;
$brand-color-secondary: #232323;

$white: #fff;

// $code-color: #abb2bf;
// $code-bkg: #282c34;
